<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="risecommerce" translate="label" sortOrder="500">
            <label>Risecommerce</label>
        </tab>
        <section id="risecommerce_abandoned_cart" translate="label" showInStore="1" showInWebsite="1" showInDefault="1">
            <class>separator-top</class>
            <label>Abandoned Carts</label>
            <tab>risecommerce</tab>
            <resource>Risecommerce_AbandonedCart::config</resource>
            <group id="customers" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Customers</label>
                <attribute type="expanded">1</attribute>
                <field id="heading_1" translate="label" sortOrder="1" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Abandoned Cart 1</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                </field>
                <field id="enabled_1" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled\Disabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="send_after_1" translate="label" sortOrder="3" type="select" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Send After</label>
                    <source_model>Risecommerce\AbandonedCart\Model\Config\Source\Carts\Intervalminute</source_model>
                    <depends>
                        <field id="enabled_1">1</field>
                    </depends>
                </field>
                <field id="template1" translate="label" type="select" sortOrder="4" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Email Template</label>
                    <comment>This template will be sent as email notification.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="enabled_1">1</field>
                    </depends>
                </field>
                <field id="heading_2" translate="label" sortOrder="5" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Abandoned Cart 2</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                    <depends>
                        <field id="enabled_1">1</field>
                    </depends>
                </field>
                <field id="enabled_2" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled\Disabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <depends>
                        <field id="enabled_1">1</field>
                    </depends>
                </field>
                <field id="send_after_2" translate="label" sortOrder="7" type="select" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Send After</label>
                    <source_model>Risecommerce\AbandonedCart\Model\Config\Source\Carts\Interval</source_model>
                    <depends>
                        <field id="enabled_1">1</field>
                        <field id="enabled_2">1</field>
                    </depends>
                </field>
                <field id="template2" translate="label" type="select" sortOrder="8" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Email Template</label>
                    <comment>This template will be sent as email notification.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="enabled_1">1</field>
                        <field id="enabled_2">1</field>
                    </depends>
                </field>
                <field id="heading_3" translate="label" sortOrder="9" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Abandoned Cart 3</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                    <depends>
                        <field id="enabled_1">1</field>
                        <field id="enabled_2">1</field>
                    </depends>
                </field>
                <field id="enabled_3" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled\Disabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <depends>
                        <field id="enabled_1">1</field>
                        <field id="enabled_2">1</field>
                    </depends>
                </field>
                <field id="send_after_3" translate="label" sortOrder="11" type="select" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Send After</label>
                    <source_model>Risecommerce\AbandonedCart\Model\Config\Source\Carts\Interval</source_model>
                    <depends>
                        <field id="enabled_1">1</field>
                        <field id="enabled_2">1</field>
                        <field id="enabled_3">1</field>
                    </depends>
                </field>
                <field id="template3" translate="label" type="select" sortOrder="12" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Email Template</label>
                    <comment>This template will be sent as email notification.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="enabled_1">1</field>
                        <field id="enabled_2">1</field>
                        <field id="enabled_3">1</field>
                    </depends>
                </field>
                <field id="heading_4" translate="label" sortOrder="13" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Abandoned Cart 4</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                    <depends>
                        <field id="enabled_1">1</field>
                        <field id="enabled_2">1</field>
                        <field id="enabled_3">1</field>
                    </depends>
                </field>
                <field id="enabled_4" translate="label" type="select" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled\Disabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <depends>
                        <field id="enabled_1">1</field>
                        <field id="enabled_2">1</field>
                        <field id="enabled_3">1</field>
                    </depends>
                </field>
                <field id="send_after_4" translate="label" sortOrder="15" type="select" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Send After</label>
                    <source_model>Risecommerce\AbandonedCart\Model\Config\Source\Carts\Interval</source_model>
                    <depends>
                        <field id="enabled_1">1</field>
                        <field id="enabled_2">1</field>
                        <field id="enabled_3">1</field>
                        <field id="enabled_4">1</field>
                    </depends>
                </field>
                <field id="template4" translate="label" type="select" sortOrder="16" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Email Template</label>
                    <comment>This template will be sent as email notification.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="enabled_1">1</field>
                        <field id="enabled_2">1</field>
                        <field id="enabled_3">1</field>
                        <field id="enabled_4">1</field>
                    </depends>
                </field>
            </group>
            <group id="guests" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Guests</label>
                <attribute type="expanded">1</attribute>
                <field id="heading_1" translate="label" sortOrder="1" showInStore="0" showInWebsite="1" showInDefault="1">
                    <label>Abandoned Cart 1</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                </field>
                <field id="enabled_1" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled\Disabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="send_after_1" translate="label" sortOrder="3" type="select" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Send After</label>
                    <source_model>Risecommerce\AbandonedCart\Model\Config\Source\Carts\Intervalminute</source_model>
                    <depends>
                        <field id="enabled_1">1</field>
                    </depends>
                </field>
                <field id="template1" translate="label" type="select" sortOrder="4" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Email Template</label>
                    <comment>This template will be sent as email notification.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="enabled_1">1</field>
                    </depends>
                </field>
                <field id="heading_2" translate="label" sortOrder="5" showInStore="0" showInWebsite="1"
                       showInDefault="1">
                    <label>Abandoned Cart 2</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                    <depends>
                        <field id="enabled_1">1</field>
                    </depends>
                </field>
                <field id="enabled_2" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Enabled\Disabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <depends>
                        <field id="enabled_1">1</field>
                    </depends>
                </field>
                <field id="send_after_2" translate="label" sortOrder="7" type="select" showInStore="1"
                       showInWebsite="1" showInDefault="1">
                    <label>Send After</label>
                    <source_model>Risecommerce\AbandonedCart\Model\Config\Source\Carts\Interval</source_model>
                    <depends>
                        <field id="enabled_1">1</field>
                        <field id="enabled_2">1</field>
                    </depends>
                </field>
                <field id="template2" translate="label" type="select" sortOrder="8" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Email Template</label>
                    <comment>This template will be sent as email notification.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="enabled_1">1</field>
                        <field id="enabled_2">1</field>
                    </depends>
                </field>
                <field id="heading_3" translate="label" sortOrder="9" showInStore="0" showInWebsite="1"
                       showInDefault="1">
                    <label>Abandoned Cart 3</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                    <depends>
                        <field id="enabled_1">1</field>
                        <field id="enabled_2">1</field>
                    </depends>
                </field>
                <field id="enabled_3" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Enabled\Disabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <depends>
                        <field id="enabled_1">1</field>
                        <field id="enabled_2">1</field>
                    </depends>
                </field>
                <field id="send_after_3" translate="label" sortOrder="11" type="select" showInStore="1"
                       showInWebsite="1" showInDefault="1">
                    <label>Send After</label>
                    <source_model>Risecommerce\AbandonedCart\Model\Config\Source\Carts\Interval</source_model>
                    <depends>
                        <field id="enabled_1">1</field>
                        <field id="enabled_2">1</field>
                        <field id="enabled_3">1</field>
                    </depends>
                </field>
                <field id="template3" translate="label" type="select" sortOrder="12" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Email Template</label>
                    <comment>This template will be sent as email notification.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="enabled_1">1</field>
                        <field id="enabled_2">1</field>
                        <field id="enabled_3">1</field>
                    </depends>
                </field>
                <field id="heading_4" translate="label" sortOrder="13" showInStore="0" showInWebsite="1"
                       showInDefault="1">
                    <label>Abandoned Cart 4</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                    <depends>
                        <field id="enabled_1">1</field>
                        <field id="enabled_2">1</field>
                        <field id="enabled_3">1</field>
                    </depends>
                </field>
                <field id="enabled_4" translate="label" type="select" sortOrder="14" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Enabled\Disabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <depends>
                        <field id="enabled_1">1</field>
                        <field id="enabled_2">1</field>
                        <field id="enabled_3">1</field>
                    </depends>
                </field>
                <field id="send_after_4" translate="label" sortOrder="15" type="select" showInStore="1"
                       showInWebsite="1" showInDefault="1">
                    <label>Send After</label>
                    <source_model>Risecommerce\AbandonedCart\Model\Config\Source\Carts\Interval</source_model>
                    <depends>
                        <field id="enabled_1">1</field>
                        <field id="enabled_2">1</field>
                        <field id="enabled_3">1</field>
                        <field id="enabled_4">1</field>
                    </depends>
                </field>
                <field id="template4" translate="label" type="select" sortOrder="16" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Email Template</label>
                    <comment>This template will be sent as email notification.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="enabled_1">1</field>
                        <field id="enabled_2">1</field>
                        <field id="enabled_3">1</field>
                        <field id="enabled_4">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
